/* #B9D77D	#91A26F	#6B8C29	#D2EBA1	#D9EBB5 */
/* #B96B97	#8B5F78	#782353	#DC97BE	#DCA9C6 */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.slider {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40rem;
  height: 28rem;
  padding: 1rem 1% 4rem;
  background-color: #d2eba1;
  border: 1rem solid #8b5f78;
  border-radius: 1rem;
  outline: 0.3rem solid #dca9c6;
  outline-offset: -0.9rem;
  overflow: hidden;
}

.slider-nav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.slider-nav-item {
  padding: 0;
  margin: 0;
}

.slider-nav-item:nth-child(1) {
  transform: translate(-3rem, -91%);
}

.slider-nav-item:nth-child(2) {
  transform: translate(-2rem, 10%);
}

.slider-nav-item:nth-child(3) {
  transform: translate(-1rem, 108%);
}

.slider-nav-item:nth-child(4) {
  transform: translate(0rem, 205%);
}

.slider-content {
  display: flex;
  width: 100%;
  height: 20.5rem;
}

.slider-label {
  display: flex;
  flex-direction: column;
  opacity: 0;
  width: 0;
  height: 35rem;
  transition: width 0.9s ease-in-out, opacity 0.9s ease-in-out;
}

.slider-image {
  height: 20.5rem;
  width: 100%;
  object-fit: cover;
  margin: 0 0 1.5rem 0;
  border-radius: 1rem;
}

.slider-text {
  margin: 0 0 -1.5rem 0;
  white-space: nowrap;
  font-size: 1.1rem;
}

.slider-nav-item:nth-child(1):checked
  ~ .slider-content
  .slider-label:nth-child(1),
.slider-nav-item:nth-child(2):checked
  ~ .slider-content
  .slider-label:nth-child(2),
.slider-nav-item:nth-child(3):checked
  ~ .slider-content
  .slider-label:nth-child(3),
.slider-nav-item:nth-child(4):checked
  ~ .slider-content
  .slider-label:nth-child(4) {
  opacity: 1;
  width: 100%;
}

@media (orientation: portrait) {
  .slider {
    rotate: 90deg;
    height: 355px;
  }

  .slider-content {
    height: 200px;
  }

  .slider-label {
  }

  .slider-image {
    height: 200px;
  }
}
